<div class="bg-dark p-2 bg-opacity-25 shadow mb-5 rounded" style="background-color: #262626; color: rgb(122, 248, 85);">
  <div class="rounded" style="background-color: rgba(245, 235, 215, 0.1);">
    <div class="container col pt-5 box-shadow-inset">
      <h1 class="text-left" style="font-family: 'Ubuntu Mono', monospace;">Welcome to My Blog!</h1>
      <article class="py-3 text-left" style="font-family: 'Ubuntu Mono', monospace">
        <p>
          @user ~ % <span>If you're interested in my thoughts on tech, you've come to the right place.</span>
          <br />
          @user ~ % <span>Signup to join the conversation.</span>
        </p>
      </article>
      <div class="text-center pb-5" style="font-family: 'Ubuntu Mono', monospace;" id="buttonsHome">
        <button
          type="button"
          onclick="location.href='/login'"
          class="btn btn-outline-light shadow"
          style="background-color: #262626; color: rgb(122, 248, 85);"
        >Signup</button>
      </div>
    </div>
  </div>
</div>